<header class="header">
  <div class="top">
    <div class="title-container">
      <h1 class="title">Luncheria Yusmila</h1>
    </div>
    <div class="icons">
      <button class="search-button" (click)="toggleSearch()">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
      @if (isSearchVisible) {
        <div class="search-container">
          <input type="text" placeholder="Buscar productos..." class="search-input" [(ngModel)]="searchQuery" (key.enter)="searchInput" #searchInput />
          <button (click)="search()">Buscar</button>
        </div>
      }

      @if (isMobile) {
        <button class="menu-toggle" (click)="toggleMobileMenu()">
          <fa-icon [icon]="faBars"></fa-icon>
        </button>
      }

    </div>
  </div>

  <nav class="nav">
    @if (!isMobileMenuOpen && isDesktop) {
      <ul class="nav-list desktop">
        <li><a href="">INICIO</a></li>
        <li><a href="">PRODUCTOS</a></li>
        <li><a href="">UBICACION</a></li>
        <li><a href="">CONTACTOS</a></li>   
      </ul>
    }

    @if (isMobileMenuOpen && isMobile) {
        <ul class="nav-list mobile">
          <li><a href="">INICIO</a></li>
          <li><a href="">PRODUCTOS</a></li>
          <li><a href="">UBICACION</a></li>
          <li><a href="">CONTACTOS</a></li>
        </ul>
    }

    @if (isMobileMenuOpen && isMobile) {
      <div class="mobile-footer">
        <div class="cart">
          <fa-icon [icon]="faShoppingCart"></fa-icon>
          <span class="cart-count">{{ cartItemscount }}</span>
        </div>
        <div class="social">
          <a href=""><fa-icon [icon]="faInstagram"></fa-icon></a>
          <a href=""><fa-icon [icon]="faFacebook"></fa-icon></a>
          <a href=""><fa-icon [icon]="faYoutube"></fa-icon></a>
        </div>
      </div>
    }

    @if (isDesktop) {
      <div class="social desktop">
        <a href=""><fa-icon [icon]="faInstagram"></fa-icon></a>
        <a href=""><fa-icon [icon]="faFacebook"></fa-icon></a>
        <a href=""><fa-icon [icon]="faYoutube"></fa-icon></a>
      </div>
    }
  </nav>
</header>
