<header class="header">
  <div class="top">
    <div class="title-container">
      <h1 class="title">Empanadas Yusmilas</h1>
    </div>
    <div class="icons">
      <button class="search-button" (click)="toggleSearch()">
         <fa-icon [icon]="faSearch"></fa-icon>
      </button>
      @if (isSearchVisible) {
        <div class="search-container">
          <input 
            type="text" 
            placeholder="Buscar producto..." 
            class="search-input"
            [(ngModel)]="searchQuery"
            (keyup.enter)="search()"
            #searchInput
          >
          <button (click)="search()">Buscar</button>
       </div>
    }
      <div class="cart">
        <fa-icon [icon]="faShoppingCart"></fa-icon>
        <span class="cart-count">{{ cartItemsCount }}</span>
      </div>
    </div>
  </div>

  <nav class="nav">
    <ul class="nav-list">
      <li><a href="">INICIO</a></li>
      <li><a href="">PRODUCTOS</a></li>
      <li><a href="">UBICACION</a></li>
      <li><a href="">CONTACTO</a></li>
    </ul>

   <div class="social">
    <a href="#"><fa-icon [icon]="faInstagram"></fa-icon></a>
    <a href="#"><fa-icon [icon]="faFacebook"></fa-icon></a>
    <a href="#"><fa-icon [icon]="faYoutube"></fa-icon></a>
   </div>
  </nav>

</header>
